table, td, th{
    width: 50px;
    border: 2px solid blue;

}

th,td{
    text-align: left;
    padding: 10px;
}

th:hover{
    background-color: black;

}

tr:hover{
    background-color: red;
}

th{
    background-color: gray;
}